[submodule "kicad-modules-sensor"]
	path = sensor_board/kicad-modules
	url = https://github.com/nfbraun/kicad-modules.git
[submodule "kicad-modules-fmc"]
	path = fmc_board/kicad-modules
	url = https://github.com/nfbraun/kicad-modules.git
